---
layout: default
---

<!-- about.html -->
      <div class="post">
        <!-- <header class="post-header">
		  <h1 class="post-title"> Sunbeom So (소순범)</h1>
          <p class="desc">{{ page.subtitle }}</p>
		</header> -->

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}


		  <h1 class="post-title"> Sunbeom So (소순범)</h1>

          <div class="clearfix">
            {{ content }}
          </div>

          <br>
          <h2>Recruiting</h2>
		  <p>
		  I am looking for self-motivated graduate/undergraduate students.
		  See <a href= "recruitment">Recruitment</a>.
		  </p>

		  <h2>About Me</h2>
		  <p>
		  Welcome! As of September 2023, I am working as an assistant professor at School of EECS of GIST.
		  I am leading the Program Analysis Laboratory.
		  </p>

          <h2>Research Interests</h2>
          I am interested in various research topics for
		  improving the safety and reliability of software, including:
          <ul>
          <li> <b>Program Verification</b> for automatically proving the absence of bugs in programs. </li>
		  <li> <b>Program Testing</b> for automatically finding bugs in programs. </li>
          <li> <b>Program Repair</b> for automatically fixing bugs in programs. </li>
          <li> <b>Program Synthesis</b> for automatically generating safe and correct programs. </li>
          </ul>

          <h2>Education</h2>
          <ul>
			<li> 2016.09 ~ 2022.08, Ph.D. in Computer Science and Engineering <br>
			     Korea University (Seoul, Korea) </li>
			     <em> * Thesis: Automatic Verification, Testing, and Repair of Smart Contracts </em>
			<li> 2011.03 ~ 2016.08, B.S. in Computer and Communication Engineering <br>
			     Korea University (Seoul, Korea) </li>
			    <em> * 2 years for mandatory military service (2012.01 ~ 2014.01) </em> <br>
				<em> * Early graduated in 7 semesters </em>
          </ul>

          <h2>Publications</h2>
		  <p>
		  I have published research papers at top-tier conferences in
		  software security, software engineering, and programming languages.
		  See <a href= "publications">Publications</a>.
		  </p>

          <h2>Academic Activities</h2>
		  <b>Artifact Evaluation Committee (AEC) member</b>
          <ul>
			<li> CAV 2023: 35th International Conference on Computer Aided Verification </li>
			<li> OOPSLA 2020: ACM Conference on Object-Oriented Programming, Systems, Languages, and
			  Applications </li>
		  </ul>

		  <b>Journal Reviewer</b>
          <ul>
			<li> TSE: IEEE Transactions on Software Engineering (2022) </li>
			<li> TOSEM: ACM Transactions on Software Engineering and Methodology (2023) </li>
		  </ul>

       <h2>Contact Information</h2>
		  <p> sunbeomsoATgist.ac.kr (AT should be replaced with @)</p>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
