---
layout: default
---

<!-- {{ content }} -->


<h2>Advisor</h2>
<ul>
  <li>
	<a href="/">Sunbeom So</a>, Assistant Professor<br>
	Ph.D. in Computer Science and Engineering, Korea University<br>
	B.S. in Computer and Communication Engineering, Korea University<br>
  </li>
</ul>

<br>
<hr>
<h2>Graduate Students</h2>
<p>
<a href="../recruitment">Waiting for you!</a>
</p>

<br>
<hr>
<h2>Undergraduate Interns</h2>
<ul>
  <li>
    Yehun Kim (School of EECS, GIST)
  </li>
  <li>
    Jisung Han (School of EECS, GIST)
  </li>
</ul>
