---
layout: default
---

<!-- {{ content }} -->


<h2>Advisor</h2>
<ul>
  <li>
	<a href="/">Sunbeom So</a>, Assistant Professor<br>
	Ph.D. in Computer Science and Engineering, Korea University<br>
	B.S. in Computer and Communication Engineering, Korea University<br>
  </li>
</ul>

<br>
<hr>
<h2>Graduate Students</h2>
<ul>
  <li>
    <a href="https://sites.google.com/view/sunwoo-lee/">Sunwoo Lee</a>, Ph.D student (Sep.2024 - present)
  </li>
</ul>

<br>
<hr>
<h2>Undergraduate Interns</h2>
<ul>
  <li>
    Jisung Han, B.S/M.S integrated course (Jan.2024 - present)
  </li>
  <li>
    Hyegeun Song (Mar.2024 - present)
  </li>
</ul>
