---
layout: default
---

<!-- {{ content }} -->


<h2>Advisor</h2>
<ul>
  <li>
	<a href="/">Sunbeom So</a>, Assistant Professor<br>
	Ph.D. in Computer Science and Engineering, Korea University<br>
	B.S. in Computer and Communication Engineering, Korea University<br>
  </li>
</ul>

<!-- <br>
<hr>
<h2>Graduate Students</h2>
<ul>
  <li>
    Hyegeun Song, MS student (Mar.2025 - present)
  </li>
</ul>
-->

<br>
<hr>
<h2>Research Interns</h2>
<ul>
  <li>
    Hyegeun Song, B.S. (GIST) -- Join: Mar.2025
  </li>
  <li>
    Jisung Han, B.S. course (GIST) -- Join: Jan.2024
  </li>
  <li>
    Boseong Lee, B.S. course (GIST) -- Join: Sep.2025
  </li>
</ul>
