---
layout: default
---

<!-- {{ content }} -->
<header class="post-header">
<h1 class="post-title">International Papers</h1>
</header>

<hr>
<p>
In the fields of Software Security, Software Engineering, and Programming Languages,
most influential papers are published at top-tier international conferences.
The following conferences are typically considered as top-tiers.
<ul>
  <li> Computer Security: IEEE S&P, USENIX Security, ACM CCS, NDSS </li>
  <li> Software Engineering: ICSE, FSE, ASE </li>
  <li> Programming Languages: PLDI, POPL, CAV, OOPSLA </li>
</ul>
</p>

<p>
(translation in Korean)<br>
소프트웨어 보안, 소프트웨어 공학, 프로그래밍 언어 분야에서의 영향력 있는 논문들은
대부분 탑티어 국제학술대회에 발표됩니다.
탑티어에 속한다고 여겨지는 학술대회 목록은 아래와 같습니다.
<ul>
  <li> 컴퓨터 보안: IEEE S&P, USENIX Security, ACM CCS, NDSS </li>
  <li> 소프트웨어 공학: ICSE, FSE, ASE </li>
  <li> 프로그래밍 언어: PLDI, POPL, CAV, OOPSLA </li>
</ul>
</p>

<hr>

<p>
&#11088; indicates top-tier conferences.
</p>

<h2>2023</h2>
<ul>
<li>
  <b>SmartFix: Fixing Vulnerable Smart Contracts by Accelerating Generate-and-Verify Repair using Statistical Models</b><br>
  <b>Sunbeom So</b>, and Hakjoo Oh<br>
  <a href="https://2023.esec-fse.org/track/fse-2023-research-papers">ESEC/FSE 2023: ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering</a><br>
  [<a href="{{ 'assets/pdf/fse23-smartfix.pdf' | relative_url }}">pdf</a>]
  [<a href="{{ 'assets/pdf/fse23-smartfix-appendix.pdf' | relative_url }}">supplementary</a>]
  [<a href="#">slides</a>]
  [<a href="#">github</a>]<br>
  &#11088;
  <em>Top-tier in Software Engineering</em><br>
</li>

<br>
<li>
  <b>Diver: Oracle-Guided SMT Solver Testing with Unrestricted Random Mutations</b><br>
  Jongwook Kim*, <b>Sunbeom So</b>*, and Hakjoo Oh (*: co-first authors)<br>
  <a href="https://conf.researchr.org/home/icse-2023">ICSE 2023: 45th International Conference on Software Engineering</a><br>
  [<a href="{{ 'assets/pdf/icse23-diver.pdf' | relative_url }}">pdf</a>]
  [<a href="{{ 'assets/slides/diver-slides.pdf' | relative_url }}">slides</a>]
  [<a href="#">github</a>] <br>
  &#11088;
  <em>Top-tier in Software Engineering</em>
</li>
</ul>

<br>
<h2>Before 2023</h2>
<ul>
<li>
  <b>SmarTest: Effectively Hunting Vulnerable Transaction Sequences in Smart Contracts through Language Model-Guided Symbolic Execution</b><br>
  <b>Sunbeom So</b>, Seongjoon Hong, and Hakjoo Oh<br>
  <a href="https://www.usenix.org/conference/usenixsecurity21">Security 2021: 30th USENIX Security Symposium</a><br>
  [<a href="{{ 'assets/pdf/sec21-smartest.pdf' | relative_url }}">pdf</a>]
  [<a href="{{ 'assets/slides/smartest-slides.pdf' | relative_url }}">slides</a>]
  [<a href="#">github</a>]<br>
  &#11088;
  <em>Top-tier in Computer Security</em>
</li>

<br>
<li>
  <b>VeriSmart: A Highly Precise Safety Verifier for Ethereum Smart Contracts</b><br>
  <b>Sunbeom So</b>, Myungho Lee, Jisu Park, Heejo Lee, and Hakjoo Oh<br>
  <a href="https://www.ieee-security.org/TC/SP2020/">IEEE S&P 2020: 41st IEEE Symposium on Security and Privacy</a><br>
  [<a href="{{ 'assets/pdf/snp20-verismart.pdf' | relative_url }}">pdf</a>]
  [<a href="{{ 'assets/slides/verismart-slides.pdf' | relative_url }}">slides</a>]
  [<a href="#">github</a>]<br>
  &#11088;
  <em>Top-tier in Computer Security</em>
</li>

<br>
<li>
  <b>Automatic Diagnosis and Correction of Logical Errors for Functional Programming Assignments</b><br>
  Junho Lee, Dowon Song, <b>Sunbeom So</b>, and Hakjoo Oh<br>
  <a href="https://conf.researchr.org/track/splash-2018/splash-2018-OOPSLA">OOPSLA 2018: ACM Conference on Object-Oriented Programming, Systems, Languages, and Applications</a><br>
  [<a href="{{ 'assets/pdf/oopsla18-fixml.pdf' | relative_url }}">pdf</a>]
  [<a href="{{ 'assets/slides/fixml-slides.pdf' | relative_url }}">slides</a>]
  [<a href="#">github</a>]<br>
  &#11088;
  <em>Top-tier in Programming Languages</em>
</li>

<br>
<li>
  <b>Synthesizing Pattern Programs from Examples</b><br>
  <b>Sunbeom So</b>, and Hakjoo Oh<br>
  <a href="https://www.ijcai-18.org/">IJCAI 2018: International Joint Conference on Artificial Intelligence</a><br>
  [<a href="{{ 'assets/pdf/ijcai18-pat.pdf' | relative_url }}">pdf</a>]
  [<a href="#">slides</a>]
  [<a href="#">github</a>]
</li>

<br>
<li>
  <strong>Synthesizing Imperative Programs from Examples Guided by Static Analysis</strong><br>
  <b>Sunbeom So</b>, and Hakjoo Oh<br>
  <a href="https://staticanalysis.org/sas2017/sas2017.html">SAS 2017: Static Analysis Symposium</a> <br>
  [<a href="{{ 'assets/pdf/sas17-simpl.pdf' | relative_url }}">pdf</a>]
  [<a href="#">slides</a>]
  [<a href="#">github</a>]
</li>

<br>

<li>
  <strong>Synthesizing Regular Expressions from Examples for Introductory Automata Assignments</strong><br>
  Mina Lee*, <b>Sunbeom So</b>*, and Hakjoo Oh (*: co-first authors)<br>
  <a href="https://conf.researchr.org/track/gpce-2016/gpce-2016-papers">GPCE 2016: ACM SIGPLAN International Conference on Generative Programming: Concepts and Experiences</a> <br>
  [<a href="{{ 'assets/pdf/gpce16-alpharegex.pdf' | relative_url }}">pdf</a>]
  [<a href="#">slides</a>]
  [<a href="#">github</a>]
</li>
</ul>

