---
layout: default
---

<!-- {{ content }} -->
<em>Last modified: 23.09.19 </em>

<br><br>

<header class="post-header">
<h1 class="post-title"><strong>학생 모집</strong></h1>
</header>

<p>
GIST 프로그램 분석 연구실에서는 안전하고 신뢰할 수 있는 소프트웨어 기반 사회를 구축하는데 이바지할, 열정과 책임감을 지닌 대학원생 및 3, 4학년 학부 인턴을 적극적으로 모집하고 있습니다.
</p>

<hr>
<h3><strong>연구실 지원 최소 요건</strong></h3>
GIST/UNIST/DGIST/KAIST 학부생의 경우:
<ul>
<li> 학점 3.3 이상 </li>
<li> 1개 이상 프로그래밍 언어에 대한 능숙함 </li>
</ul>

그 외 대학 소속 학부생의 경우:
<ul>
<li> 학점 3.8 이상 (4.5 만점 기준) 혹은 국제 저널/학술 대회 논문 출판 경험 </li>
<li> TOEIC 800 이상 혹은 그에 준하는 영어 성적/능력 </li>
<li> 1개 이상 프로그래밍 언어에 대한 능숙함 </li>
</ul>

<br>
<h3><strong>연구실 지원 방법</strong></h3>
<ol>
<li> 상기 최소 지원 요건을 만족하는지 여부 확인 </li>
<li> 학부 성적 증명서, 영어 성적 증명서, CV를 첨부하여 소순범 교수에게 이메일 전송(sunbeomso AT gist.ac.kr) </li>
<li> 본인 소개(프로젝트 수행 경험 등 전공 관련 강점 위주) 및 연구실 지원 동기에 관한 슬라이드를 준비해서 10분 이내 1:1 발표 실시 (Zoom 혹은 대면) / 질의응답 시간 별도 </li>
<li> 발표 진행 후 이틀 이내 연구실 인턴 합격 여부 결정 </li>
<li> 연구실 인턴 수행 결과에 따라 대학원 최종 진학 여부 결정 </li>
</ol>

<br>
<h3><strong>연구실 출퇴근 규칙</strong></h3>
탑티어 국제학술대회 논문을 2편 이상 출판함으로써,
자신의 능력을 객관적으로 증명하기 전까지는
아래 출근 규칙을 의무적으로 준수해야합니다.

<ul>
<li> 평일: 오전 9시 30분까지 연구실 출근, 오후 6시 이후 연구실 자율 퇴근 (점심시간 1시간 이내) </li>
<li> 주말: 논문 집중 작성 기간(제출 마감일 근접 등)이 아닐 경우 자율 출퇴근 </li>
</ul>

<br>
<h3><strong>연구실 졸업 요건</strong></h3>
<ul>
  <li>석사: <a href="../publications">탑티어 국제학술대회 논문</a> 1편 출판</li>
  <li>박사: <a href="../publications">탑티어 국제학술대회 논문</a> 3편 출판</li>
</ul>
