---
layout: default
---

<!-- {{ content }} -->
<em>Last modified: '25.9.1 </em>

<br><br>

<header class="post-header">
<h1 class="post-title"><strong>학생 모집</strong></h1>
</header>

<p>
고려대학교 엄밀 검증 연구실에서는 안전하고 신뢰할 수 있는 소프트웨어 기반 사회를 구축하는데 이바지할,
열정과 책임감을 지닌 대학원생 및 3, 4학년 학부 인턴을 적극적으로 모집하고 있습니다
<br><br>

관심있는 학생은 아래 안내 사항을 읽고 소순범 교수에게 이메일로 연락주시기 바랍니다.<br>
- 이메일: sunbeom_so AT korea.ac.kr<br><br>

</p>

<hr>
<h3><strong>연구실 지원 방법</strong></h3>

<h5><b>학부 연구 인턴</b></h5>
<ul>
  <li>지원 자격: 제 수업 혹은 유관 과목(프로그래밍언어, 컴파일러, 정형기법 등 프로그램 분석 관련 과목)을 한 과목 이상 수강</li>
  <li>지원 서류: (1) 자유 양식 CV, (2) 성적 증명서, (3) 공인 영어 성적 증명서(해당하는 경우)</li>
</ul>

<h5><b>대학원 신입생</b></h5>
최소 2개월 이상의 연구 인턴을 수행한 학생에 한하여 대학원 신입생을 모집하고 있습니다.


<hr>
<h3><strong>연구실 졸업 요건</strong></h3>
우리 연구실은 세계 최고 수준에 부합하는 연구 성과를 필수 졸업 요건으로 삼습니다:
<a href="https://gist.github.com/Pusnow/6eb933355b5cb8d31ef1abcb3c3e1206">최우수 국제학술대회 목록</a>

<ul>
  <li>석사: 최우수 국제학술대회 제 1저자 논문 1편 출판 (accepted 상태 포함)</li>
  <li>박사: 최우수 국제학술대회 제 1저자 논문 3편 출판 (accepted 상태 포함)</li>
</ul>
