---
layout: default
---

<!-- {{ content }} -->
<em>Last updated: 2026.9.4 </em>

<br><br>

<header class="post-header">
<h1 class="post-title"><strong>학생 모집</strong></h1>
</header>

<p>
고려대학교 소프트웨어 검증 연구실은 안전하고 신뢰할 수 있는 소프트웨어 기반 사회의 구축에 기여할
대학원생 및 3, 4학년 학부 인턴을 모집하고 있습니다. <br><br>

우리 연구실은 적당함과 타협하지 않는 자세로, 성실하고 치열하게 연구에 임할 의지가 있는 학생만을 선발합니다.
<br><br>

관심있는 학생은 아래 안내 사항을 읽고 소순범 교수에게 이메일로 연락주시기 바랍니다.<br>
- 이메일: sunbeom_so AT korea.ac.kr<br>

</p>

<hr>
<h3><strong>연구실 지원 방법</strong></h3>

<h5><b>학부 연구 인턴</b></h5>
<ul>
  <li>지원 자격: 제 수업 또는 프로그램 분석 관련 과목(프로그래밍 언어, 컴파일러, 정형기법 등) 중 하나 이상 수강</li>
  <li>지원 서류: (1) 자유 양식 CV, (2) 성적 증명서, (3) 공인 영어 성적 증명서(해당하는 경우)</li>
</ul>

<h5><b>대학원 신입생</b></h5>
대학원 진학에 관심이 있는 학생은 연구실 인턴 과정을 통해 연구 주제 및
연구실과의 적합도를 확인한 후 진학 여부를 결정하고 있습니다.
충분한 상호 이해를 위해, 관심이 있는 경우 가능한 한 일찍 연락해 주시기 바랍니다.
<!-- 최소 2개월 이상의 연구 인턴을 수행한 학생에 한하여 대학원 신입생을 모집하고 있습니다. -->


<hr>
<h3><strong>연구실 졸업 요건</strong></h3>
우리 연구실은 학생들이 높은 수준의 연구 경험을 통해,
스스로 문제를 정의하고 해결할 수 있는 역량을 갖춘 인재로 성장하는 것을 중요하게 생각합니다.<br><br>

이를 위해 세계 최고 수준에 부합하는 연구 성과를 필수 졸업 요건으로 삼습니다:
<a href="https://gist.github.com/Pusnow/6eb933355b5cb8d31ef1abcb3c3e1206">최우수 국제학술대회 목록</a>

<ul>
  <li>석사: 최우수 국제학술대회 제1저자 논문 1편 게재 확정</li>
  <li>박사: 최우수 국제학술대회 제1저자 논문 3편 게재 확정</li>
</ul>

분명 도전적인 목표이지만, 꾸준한 노력을 통해 달성할 수 있는 목표입니다.
연구실에서도 그 과정에 필요한 연구 지도와 지원을 함께할 것입니다.
