---
layout: default
---

<!-- {{ content }} -->
<header class="post-header">
<h1 class="post-title">Program Analysis Research @ GIST</h1>
</header>

<p>
We are interested in various research topics for
improving the safety and reliability of software, including:
       <ul>
          <li> <strong>Formal verification</strong> for proving the absence of vulnerabilities and errors in software. </li>
		  <li> <strong>Symbolic execution</strong> for finding vulnerabilities and errors in software. </li>
          <li> <strong>Testing SMT solvers</strong> for enhancing the reliability of verification and symbolic execution tools. </li>
          <li> <strong>Efficient decision procedures for first-order theories</strong> for making formal verification and symbolic execution more practical.</li>
       </ul>
</p>

<hr>
<h2>Introduction to Our Research</h2>
<p>
<ul>
  <li>
	Introduction to Program Analysis Techniques with Applications to Smart Contract Security.<br>
	8 Sep 2023.
	GIST EECS Colloquium <br>
	[<a href="{{ 'assets/slides/GIST_230908.pdf' | relative_url }}">slides</a>]
  </li>
</ul>
</p>

<hr>
<h2>Recent Research Projects</h2>

<ul>
  <li>Automatically fixing security vulnerabilities in smart contracts
  <br>
  [<a href="{{ 'assets/pdf/fse23-smartfix.pdf' | relative_url }}">FSE'23 paper</a>]
  [<a href="#">slides</a>]
  </li>
  <center>
  <p>
  <img src="../assets/img/smartfix1.png" width=70%>
  </p>
  </center>

  <li>Automatically finding critical bugs in SMT solvers
  <br>
  [<a href="{{ 'assets/pdf/icse23-diver.pdf' | relative_url }}">ICSE'23 paper</a>]
  [<a href="{{ 'assets/slides/diver-slides.pdf' | relative_url }}">slides</a>]
  </li>
  <center>
  <p>
  <img src="../assets/img/diver2.png" width=80%>
  </p>
  </center>

  <li>Automatically finding security vulnerabilities in smart contracts
  <br>
  [<a href="{{ 'assets/pdf/sec21-smartest.pdf' | relative_url }}">USENIX Security'21 paper</a>]
  [<a href="{{ 'assets/slides/smartest-slides.pdf' | relative_url }}">slides</a>]
  [<a href="https://m.ekn.kr/view.php?key=20210914010002394">media</a>]
  </li>
  <center>
  <p>
  <img src="../assets/img/smartest.png" width=65%>
  </p>
  </center>

  <li>Automatically verifying the safety of smart contracts
  <br>
  [<a href="{{ 'assets/pdf/snp20-verismart.pdf' | relative_url }}">IEEE S&P'20 paper</a>]
  [<a href="{{ 'assets/slides/verismart-slides.pdf' | relative_url }}">slides</a>]
  </li>
  <center>
  <p>
  <img src="../assets/img/verismart.png" width=70%>
  </p>
  </center>

  <li>Automatically generating feedback for functional programming assignments
  <br>
  [<a href="{{ 'assets/pdf/oopsla18-fixml.pdf' | relative_url }}">OOPSLA'18 paper</a>]
  [<a href="{{ 'assets/slides/fixml-slides.pdf' | relative_url }}">slides</a>]
  </li>
  <center>
  <p>
  <img src="../assets/img/fixml.png" width=90%>
  </p>
  </center>

</ul>
